<body>

  <div class="row">
    <div class="large-6 columns">  
	    <div class="texto">  
		    <h3><strong>Appuntes</strong> is a solution for developers.</h3>
		    	<h4>Don't remember the solution to a past problem in your project?. Look it up in Appuntes, and find the solution, quickly, easy and simple.</h4>
		    <p><a href="#" class="large success button">Getting Started »</a></p>
		</div>
    </div>
  </div>

</body>
